extends ../layout

block content
  h3.header People in the office 
  h1.number 1



script
  var socket = io.connect('http://localhost');
  socket.on('checkIns', function (data) {
    console.log(data);
  });
