extends ../layout

block content
  h3.header People in the office
  h1.number= checkIns



  script
    var socket = io.connect();
    socket.on('checkIns', function (data) {
      console.log(data);
    });
